@model TokenResponseModel

<h1>@ViewData["Title"]</h1>

<p>Details received from <a href="https://identitymodel.readthedocs.io/en/latest/client/token.html">TokenResponse</a></p>

<table class="table table-primary border-primary" style="table-layout : fixed;">
    <thead>
        <tr>
            <th>
                Token type
            </th>
            <th>
                Token
            </th>
            <th>
                Decoded Token
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Access Token</th>
            <td style="word-wrap: break-word">@Model.AccessToken</td>
            <td style="word-wrap: break-word"><code>@Model.ReadAccessToken</code></td>
        </tr>
        <tr>
            <th>Id Token</th>
            <td style="word-wrap: break-word">@Model.IdToken</td>
            <td style="word-wrap: break-word"><code>@Model.ReadIdToken</code></td>
        </tr>
        <tr>
            <th>Refresh Token</th>
            <td style="word-wrap: break-word">@Model.RefreshToken</td>
            <td>--</td>
        </tr>
    </tbody>
</table>
